<div class="jumbotron">
  <h1 class="display-4">Bem-vindo ao blog em NodeJs</h1>
  <p class="lead">Esse blog foi feito utilizando NodeJs e MongoBd</p>
  <hr class="my-3">    
</div>

<h3 class="display-6">Postagens recentes: </h3>

{{#each postagens}}

<div class="card mt-4">
    <div class="card-body">        
        <h3>{{titulo}}</h3>
        <p>{{descricao}}</p>
        <a href="/postagem/{{slug}}"><button class="btn btn-success">Leia mais</button></a>
        <hr class="my-3">
        <small>Categoria: {{categoria.nome}}</small><br>
        <small>Data: {{data}}</small>        
    </div>
</div>

{{else}}
    <h5>Nenhuma postagem</h5>
{{/each}}